.loadingContainer {

}

.loadingBox {
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
        color: #26A65B;
    }
}

.loadingMessages {
    color: #FFEB3B;
    padding: 0 10px;
    line-height: 1.5;
}