.loadingContainer {
    display: inline-flex;
    margin-left: 30px;
}

.loadingBox {
    margin: 0 auto;
    text-align: center;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    
    h1 {
        color: #26A65B;
        margin: 0;
        font-weight: 300;
    }
}

.loadingMessages {
    color: #FFEB3B;
    padding: 0 10px;
    line-height: 1.5;
}