.items {
    margin-right: 25px;
}

.items a{
    text-decoration: none;
    color: #000;
}

.items a.active{
    color: #2196F3;
    border-bottom: 3px solid #2196F3;
}

.items:hover a {
    color: #094FA1;
}
