@import "~normalize.css/normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

h1,
h2,
h3,
h4,
h5 {
  font-family: system, sans-serif;
  color: #333;
}

:focus {
  outline: none !important;
}